
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --cor-principal: #265073;
   --cor-secundaria: rgb(25, 95, 122);
}



html {
   background: url(./assets/background.png) no-repeat center fixed;
   background-size: cover;
 }

body {
    display: flex;
    flex-direction: column;
     gap: 30%;
    margin: 0;
   height: 100vh;
   width:100vw;
   
    box-sizing: border-box;
} 


.cabecalho {
   width: 100%;
   background-color: #e8e8e8;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.cabecalhoitens{
  display: block;
  width: 80%;
  

}   

 .imagem-cabecalho {
   max-width: 128px; 
   max-height: 128px;
}
 
     
.links-cabecalho {
    color: #2e2e2e;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    text-decoration: none;
    font-size: 15px;
    
    padding-right: 10%;
    

     
     
     
} .links-cabecalho:hover {
    border: 2px solid var(--cor-principal);
    text-align: center;
    border-radius: 5%;
    background-color: var(--cor-principal);
    padding: 10px;
    color: #e8e8e8;
    margin-right:8%;
}



  


   
 
    
 
 
  

   .biografia {
      background: linear-gradient(to bottom, wheat , white);
      width: 100%;
      
      box-shadow: 0  10px 10px rgba(0, 0, 0, 0.295);
      border-radius: 20px;
  }
  .textos-imagem {
      display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .textos-main {
      font-family: "Montserrat", sans-serif ;
      
  }
  
  .titulo-main{
   
      text-align: center;
      font-size: 2em;
  }
  .text-highlight{
   font-family: "Allura";
   font-weight: 400;
      font-size: 2em;
  }
  .conteudo-main {
      font-size: 1.2em;
      text-align: left;
      width: 600px;
      
  }
  .imagem-main {
      height: 400px;
      width: 400px;
      
  }
  .botao-saibamais {
      display: flex;
      padding-right: 8.5em;
      padding-bottom: 3em;
      justify-content: end;
  
  }
  .link-bio {
      background-color: var(--cor-secundaria);
      padding: 1em 2em 1em 2em; 
      width: 300px;
      text-align: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      color: white;
      border-radius: 10px;
      transition: all .3s ease 0s;
      box-shadow: 0  4px 4px rgba(0, 0, 0, 0.747);
  }
  .link-bio:hover {
      transform: translateY(-15px);
  }

  #indicacoes {
    background: url(./assets/vasco.png)  no-repeat center fixed;
    background-size: cover;
   color: #CAEDFF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 1.2rem;
   height: 100%;
    width: 100vw;
 transition: all .55s ease-in 0s;
 box-shadow: 0  10px 10px rgba(0, 0, 0, 0.295);
      border-radius: 20px;
 
   

 } ol {
   
    text-decoration: none;
    gap: 30%;
    height: 50%;
 } .tittle-prizes{
    margin: 1em;
    padding: 1em;
    font-weight:600;
    text-align: center;
    font-size: 2rem;

 } .redes {
   font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
   
   background-image: linear-gradient(to bottom, wheat, lightyellow);
   transition: all .55s ease-in 0s;  
   width: 100vw;
   box-shadow: 0  10px 10px rgba(0, 0, 0, 0.295);
      border-radius: 20px;
   
   

 } .tittleredes {
   
text-align: center;
   margin: 50px;
   display: block;
   color:var(--cor-principal);
   font-weight: 600; }
   
   .botoes {
      display: flex;
      text-align: center;
      justify-content: center;
   }
   
  .botoesredes {
   margin: 1em;
   
   color: var(--cor-principal);
   text-decoration: none;
   width: 100px;
   height: 10px;
    padding: 20px;
    padding-top: 10px;
   border: 5px solid   var(--cor-principal);
   
   background-color: var(--cor-principal 0.1);
   border-radius: 10%;
   transition: all .55s ease 0s;
   text-align:center ;

 } 
  .botoesredes:hover  {
   color:wheat;
   background-color: var(--cor-principal);
    transform: translateY(-10px);
 }  
 footer {
  
    
   background-image:transparent;
   padding: 3%;
   text-align: center;
 } .orcamento {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   
 } .wpptext {
   text-align: center;
   margin: 1em;
   font-weight: 500;
   color: var(--cor-principal); }
 
   
 
 
  
 
 

   
 .flexprizes {
   display: flex;
  
   justify-content: center;
   margin: 1em;
   
   
 } .imagemprizes {
  display: inline-block;
  position: absolute;
   right: 0;
   height: 49.5%;
   margin-top: 13px;
 } 
 .estilolista {
   list-style-type: none;
}
   
 
 .lista-premio {
   margin: auto;
 }
 

  
@media screen and (max-width:600px) {
   

   html {
      background: url(./assets/background.png) repeat-y;
      background-position: initial;
      background-size: cover;
      height: 100%;
      width: 100%;
   }
   
  
  .cabecalho {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      background-color:#e8e8e8 ;
      background-size: cover;
      margin:auto;
      text-align: center;
      border-radius: 10px;
      
      
      
  }
  .imagem-cabecalho {
      width: 128px;
      height: 128px;
  }
  .cabecalhoitens {
     display: flex;
     flex-direction: column;
  
      
  }
  .imagem-cabecalho {
      text-align: center;
  }
  .links-cabecalho {
      margin: 1em;
      padding: 0 0 2em 0;
      text-decoration: none;
      color: #2e2e2e;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      text-decoration: none;
      text-align: center;
      font-size: 15px;
  }
  .links-cabecalho:hover {
      border: 2px solid var(--cor-principal);
      
      border-radius: 5%;
      padding: 1em;
      background-color: var(--cor-principal);
      
      color: #e8e8e8;
  }
  
  .biografia {
      background: linear-gradient(to bottom, wheat , white);
      width: 100%;
      
      box-shadow: 0  10px 10px rgba(0, 0, 0, 0.295);
      border-radius: 20px;
  }
  .textos-imagem {
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: center;
      margin-left: 1em;
  }
  .conteudo-main {
   font-size: 1.2em;
   text-align: left;
   align-items: center;
  margin: 1em 3em;
  width: auto;
   
   
}
  .textos-main {
      font-family: "Montserrat", sans-serif;
     
   
  }
  .text-highlight{
      font-family: "Allura", cursive;
      font-size: 1.5em;
      font-weight: 400;
  }
  .imagem-main {
      height: 300px;
      width: 300px;
  }
  .botao-saibamais {
      padding: 3em;
      display: block;
      text-align: center;
  }
  .link-bio {
      background-color: var(--cor-secundaria);
      padding: 1em 2em 1em 2em; 
      width: 300px;
      text-align: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      color: white;
      border-radius: 10px;
      transition: all .3s ease 0s;
      box-shadow: 0  4px 4px rgba(0, 0, 0, 0.747); }
  
      .link-bio:hover {
          transform: translateY(-15px); 
      }
  
      #indicacoes {
          background: url(./assets/vasco.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          color: #CAEDFF;
          border-radius: 10px;
          box-shadow: 0  4px 4px rgba(0, 0, 0, 0.747);
      }
      .tittle-prizes {
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          text-align: center;
      }
      .flexprizes {
          display: block;
          text-align: center;
          padding: 1em;
      }
      .estilolista {
          list-style: none;
      }
      .lista-premio {
          font-family: "Montserrat", sans-serif;
          text-align: start;
          padding: .5em;
      }
      .redes {
          background: linear-gradient(to bottom, wheat, white);
          border-radius: 10px;
      }
      .tittleredes {
          font-family: "Montserrat", sans-serif;
          text-align: center;
          font-size: 1.25em;
          color: var(--cor-principal);
          padding: 1em;
      }
      .botoes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center ;
          
      }
       .botoesredes {
          margin: 1em;
          font-family: "Montserrat", sans-serif;
          color: var(--cor-principal);
          text-decoration: none;
          width: 100px;
          height: 10px;
           padding: 20px;
           padding-top: 10px;
          border: 5px solid   var(--cor-principal);
          
          background-color: var(--cor-principal 0.1);
          border-radius: 10%;
          transition: all .55s ease 0s;
          text-align:center ;
       
        } 
         .botoesredes:hover  {
          color:wheat;
          background-color: var(--cor-principal);
           transform: translateY(-10px); 
         }
         .orcamento {
          display: flex;
          flex-direction: column;
          align-items: center;
          
         }
  
         .wpptext {
          font-family: "Montserrat", sans-serif;
          color: var(--cor-principal);
          font-size: 1em;
          text-align: center;
         }


}


 
 

 

  
   
 

 
 
 
    
 